GitPython==3.1.40
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
Deprecated==1.2.14
gitdb==4.0.11
idna==3.6
pycparser==2.21
PyGithub==1.59.1
PyJWT==2.8.0
PyNaCl==1.5.0
python-dotenv==1.0.0
requests==2.31.0
smmap==5.0.1
urllib3==2.1.0
wrapt==1.16.0